target
.git
.idea
.vscode
*.iml




spring.application.name=SpringBootCrud

spring.datasource.url=jdbc:postgresql://ep-steep-paper-ay6gsrdc-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require

spring.datasource.username=neondb_owner
spring.datasource.password=npg_1OkCQSVP6oUa
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true